<main ng-controller="HomeCtrl as home">
    <div class="nav">
        <header class="nav-header"
            <h1>Bloc Chat</h1>
        </header>
        <div class="nav-body">
          <!-- Add new rooms button -->
            <span>
                <button type="button" class="new-room-modal" ng-click="home.newRoom()">New Room</button>
            </span>

            <!-- List rooms -->
            <div ng-repeat="room in home.rooms">
              <a ng-click="home.setCurrentRoom(room)"> {{ room.$value }}
              </a>
            </div>
        </div>

        <!-- Messages -->
        <section class="messages">
          <h1>{{ home.currentRoom.$value }}</h1>
          <div class="messages-header">
            <div class="messages-body" ng-repeat="message in home.messages">
              <p class="username">{{ message.username }} <span class="timestamp">{{ message.sentAt | date : "shortTime" }}</span></p>
              <p class="content">{{ message.content }}</p>
            </div>
          </div>
        </section>

        <!-- Message input -->
        <div></div>

    </div>
</main>
