<main ng-controller="HomeCtrl as home">
    <div>
        <header>
            <h1>Bloc Chat</h1>
        </header>
        <div class="room-list">
            <span>
                <!-- Add new rooms button -->
                <button type="button" class="new-room-modal" ng-click="home.newRoom()">New Room</button>
            </span>

            <!-- List rooms -->
            <div ng-repeat="room in home.rooms">
              <a ng-click="home.setCurrentRoom(room)"> {{ room.$value }}
              </a>
            </div>
        </div>

        <!-- Messages -->
        <section class="chat-messages">
          <h1>{{ home.currentRoom.$value }}</h1>
          <div class="message-container">
            <div class="message" ng-repeat="message in home.messages">
              <p class="message-username">{{ message.username }} <span class="message-timestamp">{{ message.sentAt | date : "shortTime" }}</span></p>
              <p class="message-content">{{ message.content }}</p>
            </div>
          </div>
        </section>
    </div>
</main>
