<section class="modal-box">
    <div class="modal-header">
        <h3 class="modal-title">Create new room</h3>
    </div>
    <div class="modal-body">
        <h5 class="modal-prompt">Enter a room name</h5>
            <input type="text" name="input" ng-model= "modal.newRoom.name">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-cancel" ng-click="modal.cancel()">Cancel</button>
        <button type="button" class="btn-new" ng-click="modal.submit()">Create Room</button>
    </div>
</section>
